.o-skeleton{
  min-height: 100vh;
}

.c-text{
  font-size: 16px;
  font-family: 'Source Sans Pro', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-bottom: $qnorr-baseline*3;
  max-width: 100%;
}


.c-title,
[class*="c-title"]{
  position: relative;
  display: inline-block;
  font-size: 24px;
  padding: $qnorr-baseline;
  margin: $qnorr-baseline*2 0px $qnorr-baseline*3;
  background: get-color(white);
  border: 2px solid get-color(black);
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -$qnorr-baseline;
    left: $qnorr-baseline;
    background: get-color(dark-pink);
    border: 2px solid get-color(black);
    z-index: -1;
  }
  &[class*="--yellow"]{
    background: get-color(yellow);
    &::after{
      background: get-color(white);
    }
  }
  &[class*="--blue"]{
    background: get-color(blue);
    &::after{
      background: get-color(white);
    }
  }
  &[class*="--pink"]{
    background: get-color(pink);
    &::after{
      background: get-color(white);
    }
  }
}


.c-info,
[class*="c-info"]{
  display: inline-block;
  background: get-color(white);
  color: get-color(black);
  padding: $qnorr-baseline;
  margin-bottom: $qnorr-baseline*3;
  border: 1px solid get-color(black);
  &[class*="--yellow"]{
    background: get-color(yellow);
  }
  &[class*="--blue"]{
    background: get-color(blue);
  }
  &[class*="--pink"]{
    background: get-color(pink);
  }
}

.c-link{
  background: get-color(black);
  color: get-color(white);
  padding: $qnorr-baseline;
  transition: all 0.2s ease-in-out;
  &:hover{
    background: get-color(white);
    color: get-color(black);
  }
}

.u-relative{
  position: relative;
}

.o-hero{
  padding: $qnorr-baseline*4 0px 0px;
  background: get-color(blue);
  min-height: 860px;
  @include mappy-bp(s){
    min-height: 760px;
  }
  @include mappy-bp(md){
    min-height: 0px;
    padding: $qnorr-baseline*8 0px 0px;
    background: linear-gradient(  get-color(blue) 80%,  get-color(pink) 80%);
  }
}

.o-hero__image{
  z-index: 1;
  max-width: 100%;
  cursor: pointer;
  transform: scale(1);
  &:hover{
    animation: pulse 0.5s infinite;
  }
  @include mappy-bp(s){
    height: 580px;
  }
}

.o-hero__info{
  position: absolute;
  top: 430px;
  @include mappy-bp(md){
    position: relative;
    top: auto;
  }
}

.o-dresscode{
  padding: $qnorr-baseline*5 0px;
  @include mappy-bp(md){
    padding: 0px;
  }
}

.o-dresscode__image{
  z-index: 1;
  width: 100%;
  cursor: pointer;
  transform: scale(1);
  &:hover{
    animation: pulse 0.5s infinite;
  }
}

.o-map{
  padding: $qnorr-baseline*5 0px 0px;
  background: get-color(blue);
  min-height: 880px;
  @include mappy-bp(md){
    min-height: 0px;
    padding: $qnorr-baseline*6 0px 0px;
    background: linear-gradient(  get-color(blue) 80%,  get-color(yellow) 80%);
  }
}

.o-map__info{
  position: absolute;
  top: 410px;
  @include mappy-bp(md){
    position: relative;
    top: auto;
    margin-top: $qnorr-baseline*8;
  }
}

.o-map__image{
  height: 500px;
  cursor: pointer;
  transform: scale(1);
  &:hover{
    animation: pulse 0.5s infinite;
  }
  @include mappy-bp(md){
    z-index: 1;
  }
}

.o-dormidas{
  padding: $qnorr-baseline*4 0px;
  @include mappy-bp(md){
    padding: 0px;
  }
}

.o-dormidas__image{
  z-index: 1;
  width: 100%;
  @include mappy-bp(md){
    padding-left: $qnorr-baseline*6;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.95);
  }
}


.o-magazine{
  padding: $qnorr-baseline*6 0px;
}

.o-page__content{
  position: relative;
  height: 100%;
  padding: 40px;
  z-index: 0;
}

.o-page__grid{
  height: 100%;
  padding: 30px 20px 10px;
  z-index: -1;
}

.o-page__col{
  height: 50%;
  position: relative;
  margin-bottom: $qnorr-baseline*2;
}

.o-page__image{
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.o-page__item{
  background: get-color(black);
  color: get-color(white);
  padding: $qnorr-baseline;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 15px;
}

.o-page__title{
  position: absolute;
  top: 20px;
  left: 40px;
  margin: 0px;
  padding: $qnorr-baseline/2;
  font-size: 18px;
}

.o-page__logo{
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0px;
  width: 50px;
}

.c-pagination{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 13px;
}

#magazine{
  width: 960px;
  height: 600px;
  background: get-color(yellow);
  margin: 0px auto;
}

#magazine .turn-page{
  background-color: red;
}

#magazine .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

#magazine .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
    background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
    background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}



