@mixin font-size($scale-name) {
  @each $scale, $breakpoint in $qnorr-typescale-maps {
    @if $scale == $scale-name {
      @if (type-of($breakpoint) == 'map'){
        @include responsive-font-size($breakpoint);
      }
      @else if type-of($breakpoint) == 'list'{
        font-size: px-to-rem(nth($breakpoint, 1));
        @if (length($scale) > 1) {
          line-height: round(strip-unit(nth($breakpoint, 2)/nth($breakpoint, 1) ));
        }
      }
      @else {
        font-size: px-to-rem($breakpoint);
      }
    }
  }
}
