body{
  background: #FFFFFF; 
  font-family: 'Bungee', cursive;
}

h1, h2, h3, h4, h5, h6,
input, button {
  font-family: 'Bungee', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
