<div class="c-bottom-bar" data-flout="row-- nowrap-- justify-between-- align-center--">
  <p class="c-text-small u-tw-500 u-mr">
    Este site utiliza cookies para lhe proporcionar uma melhor experiência de navegação. Ao navegar estará a consentir a sua
    utilização. <a href="/#"><u>Saber mais</u></a>
  </p>

  <div data-flout="row-- nowrap-- align-center--">
    <a class="c-text-small u-text-u u-mr" data-action="cookies-accept" href="javascript:void(0)">
      Aceito
    </a>
    <a data-action="cookies-close" href="javascript:void(0)">
      X
    </a>
  </div>
</div>
