$qnorr-grid-breakpoints-list: ('xxs', 'xs',  's', 'sm', 'md', 'mdl', 'lg', 'xl') !default; // a subset of $qnorr-breakpoints-map;

$box-radius: 15px;
$brand-radius: 20px;

$box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);

$nav-height: 114px;
$nav-height-reduced: 80px;