////
/// General app helpers
/// @group Utilities
////

.u-text-upper{
  text-transform: uppercase;
}

.u-text-u{
  text-decoration: underline;
}

.u-height-full{
  height: 100%;
}

.u-height-auto{
  height: auto;
}