<div class="o-dormidas u-bg-color-yellow">
  <img src="{{ site.baseurl }}/assets/images/icon-6.svg" alt="spice-girls" class="c-icon c-icon--H"/>
  <img src="{{ site.baseurl }}/assets/images/icon-4.svg" alt="spice-girls" class="c-icon c-icon--I"/>
  <img src="{{ site.baseurl }}/assets/images/icon-2.svg" alt="spice-girls" class="c-icon c-icon--J"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-5@sm">
        <h2 class="c-title--blue">PRECISAS DE DORMIDA?</h2>
        <p class="c-text">Apesar da festa ser all night long, vamos ter de dormir. A pensão Magro gosta muito de receber visitas e oferecer dormidas, mas tem lotação para apenas cerca de 10 pessoas. Quem vem e vai precisar de sítio onde dormir, fale comigo entretanto!</p>
      </div>
      <div class="o-grid__col u-colspan-12 u-colspan-7@sm" data-flout="justify-center--">
        <audio loop volume="0"
      id="dormidas-audio"
      src="https://blerp-content-audio-1144.storage.googleapis.com/mp3/7cc6eac0-3674-11ec-8fe3-f107dad287c3?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gke-prod%40blerp-cf7ae.iam.gserviceaccount.com%2F20211026%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211026T155049Z&X-Goog-Expires=518400&X-Goog-SignedHeaders=host&X-Goog-Signature=0154dcd9f5390aa192ba03ae676bcd498cc50cd1eb92b83afd30e860460bd0c4045892d8760709bbc0d075c559ca5deedf6413ad2b94843db06ac07649ba240d51138da366ccf8e43806bf566d4d5f1c2b40c1bed81439835d0e86a6d726911e4633079703a7a9510cf105bcad4803361396ec45ee18934fd412c86737782283613c032dcc2a0a43367c8bdd8bab0a41415955b0e385e59f032a4d83d6a59812b8e1f2827cb3c3f9073b62ccffd6a45d39ec43d08c4dfe1a4863549fdb89e6484d499523ba109348eb03775e39643d3874a70463efafaf8e4c50a4d65689eb5c4c56421a6e4e8dd1ed30f96cbaf27ab53319cfb664c4fe22ff2d2d04a756eb62"
      ></audio>
        <img src="{{ site.baseurl }}/assets/images/sleep-spice.png" alt="spice-girls" class="o-dormidas__image js-play-dormidas-audio"/>
      </div>
    </div>
  </div>
</div>