<div class="o-dormidas u-bg-color-yellow">
	<div class="o-container">
		<div class="o-grid">
    	<div class="o-grid__col u-colspan-5">
		  	<h2 class="c-title--blue">PRECISAS DE DORMIDA?</h2>
				<p class="c-text">Apesar da festa ser all night long, eventualmente vamos ter de dormir. A pensão Magro gosta muito de receber visitas e oferecer dormidas, mas tem lotação para apenas cerca de 10 pessoas.Quem vem e vai precisar de sítio onde dormir, fale com a Mafalda!</p>
			</div>
			<div class="o-grid__col u-colspan-7 c-image-wrap">
    		<img src="{{ site.baseurl }}/assets/images/sleep-spice.png" alt="spice-girls" class="o-dormidas__image"/>
    	</div>
		</div>
	</div>
</div>