<div class="o-section u-bg-color-pink">
	<div class="o-container">
		<div class="o-grid">
      <div class="o-grid__col u-colspan-4" >
  			<h2 class="c-title--yellow">DressCode</h2>
  			<br>
  			<p class="c-info--blue">90's Fashion</p>
  			<p class="c-text">Para celebrar os 30 Anos de uma bébé dos anos 90, há que ir vestido a Rigor. Dúvidas? Vê sugestões na mais recente edição da Bravo!</p>
  		</div>

      <div class="o-grid__col u-colspan-8 u-relative">
        <img src="{{ site.baseurl }}/assets/images/bravo.png" alt="dresscode-bravo" class="o-dresscode__image"/>
      </div>
    </div>
	</div>
</div>