<div class="o-section o-dresscode u-bg-color-pink" id="dresscode-preview">
  <img src="{{ site.baseurl }}/assets/images/icon-12.svg" alt="spice-girls" class="c-icon c-icon--L"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-4@md" >
        <h2 class="c-title--yellow">DressCode</h2>
        <br>
        <p class="c-info--blue">90's Fashion</p>
        <p class="c-text">Para celebrar os 30 anos de uma bebé dos anos 90, há que ir vestido a rigor. Dúvidas? Vê as sugestões na mais recente edição da Bravo!</p>
      </div>

      <div class="o-grid__col u-colspan-12 u-colspan-8@md u-relative">
        <audio loop volume="0" 
      id="dresscode-audio"
      src="https://blerp-content-audio-1144.storage.googleapis.com/mp3/8e9e0dd0-3671-11ec-8fe3-f107dad287c3?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gke-prod%40blerp-cf7ae.iam.gserviceaccount.com%2F20211026%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211026T152950Z&X-Goog-Expires=518401&X-Goog-SignedHeaders=host&X-Goog-Signature=3b9a35e560f76277521f053444429575e39f4692bc9953485fd4895c21a2c44d3c890cff05a92b277da3142d35bc0c71a74c91f9a19614eb198fb3b80d497f7d40e2f03f995edc79310be923444b1719a49631702a491f011fac7d43610b6e4b31e9a678bdfd833eac7f28b85bd77ebb658c09e8be38a8c808c9f9ce30fc2bfd60304be83f006ec621fabb97f07eda0e3f74a03e80b62cb2b09467bb0c942631f0b8b77c9b66d59e0a4d34518595664713005993e77719728183205d461f59f47bcc1837fccf50206ba77bdc15c5a89a56256c83a8eb393a2237599e6aa5fd09e0be77f5d89a5bf5ea34cbda5a77fbacbd5fd01f898dbd031127f975ef05fe1e"
      ></audio>
        <a href="/dresscode">
        <img src="{{ site.baseurl }}/assets/images/bravo.png" alt="dresscode-bravo" class="o-dresscode__image js-play-dresscode-audio"/>
        </a>
      </div>
    </div>
  </div>
</div>