<div class="o-section o-dresscode u-bg-color-pink" id="dresscode-preview">
  <img src="{{ site.baseurl }}/assets/images/icon-12.svg" alt="spice-girls" class="c-icon c-icon--L"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-4@md" >
        <h2 class="c-title--yellow">DressCode</h2>
        <br>
        <p class="c-info--blue">90's Fashion</p>
        <p class="c-text">Para celebrar os 30 anos de uma bebé dos anos 90, há que ir vestido a rigor. Dúvidas? Vê as sugestões na mais recente edição da Bravo!</p>
      </div>

      <div class="o-grid__col u-colspan-12 u-colspan-8@md u-relative">
        <a href="/dresscode">
        <img src="{{ site.baseurl }}/assets/images/bravo.png" alt="dresscode-bravo" class="o-dresscode__image"/>
        </a>
      </div>
    </div>
  </div>
</div>