<div class="o-section o-magazine">
  <div class="o-container">
    <div class="o-magazine__header">
      <a class="o-magazine__header-link" href="/#dresscode-preview" >voltar à página principal</a>
    </div>
    <div class="o-magazine__instructions">
      <p class="c-title--yellow">Dresscode</p>
      <br>
      <p class="c-info u-hidden-max@md">Clica no canto da página para abrir esta edição especial TRINTALDINHA 90's PARTY da BRAVO, e confere todas as dicas para o dresscode perfeito!</p>
      <p class="c-info u-hidden u-visible-max@md">Faz scroll down par explorar esta edição especial TRINTALDINHA 90's PARTY da BRAVO, e confere todas as dicas para o dresscode perfeito!</p>
    </div>
    {%- include components/flipbook-desktop.html -%}
    {%- include components/flipbook-mobile.html -%}
  </div>
</div>