<div class="o-mobile-mag u-hidden u-visible-max@md">
  <div class="o-grid">
    <div class="o-grid__col u-colspan-12" >
      <img src="{{ site.baseurl }}/assets/images/capa-bravo.png" alt="capa" class=""/>
    </div>
  </div>
  <div class="o-grid o-mobile-mag__inner">
    <div class="o-grid__col u-colspan-12 o-mobile-mag__page-col">
      <div class="o-mobile-mag__page">
        <div class="c-title o-page__title">90's fashion</div>
        <p class="c-text u-mt-2x"><i>A moda está sempre a reciclar! As principais tendências morrem e reascendem repaginadas depois de algumas décadas. E agora vemos que a moda dos anos 90 está em alta. Então, relembra-te dos principais trends daquela época e vê como montar looks atuais inspirados nos anos 90. Para arrasar um look TRINTALDINHA 90's PARTY</i></p>
        <p class="c-text u-mt-2x"><i>A moda dos anos 90 era alegre, colorida e abusava de diferentes tecidos, cortes e sobreposições. Os 90's não tinham nada de minimalista. Era a época do oversize, das estampas, das roupas vistosas e chamativas. Confiram alguns dos principais hits da época.</i></p>
        <span class="c-text u-mt-2x">os teus amigos da</span>
        <img src="{{ site.baseurl }}/assets/images/bravo-logo.png" alt="dresscode" class="o-hard__logo"/>
      </div>
    </div>
    <div class="o-grid__col u-colspan-12 o-mobile-mag__page-col">
      <div class="o-mobile-mag__page">
        <div class="c-title--blue o-page__title">Calças e afins</div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/jardineiras.png" alt="dresscode"/>
          <div class="o-page__item">Jardineiras</div>
        </div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/xadrez.png" alt="dresscode"/>
          <div class="o-page__item">Xadrez</div>
        </div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/subidas.png" alt="dresscode"/>
          <div class="o-page__item">Calças Subidas</div>
        </div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/rasgadas.png" alt="dresscode"/>
          <div class="o-page__item">Calças Rasgadas</div>
        </div>
      </div>
    </div>
    <div class="o-grid__col u-colspan-12 o-mobile-mag__page-col">
      <div class="o-mobile-mag__page">
        <div class="c-title--yellow o-page__title">Tops e  Casacos</div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/croptop.png" alt="dresscode"/>
          <div class="o-page__item">Crop-Tops</div>
        </div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/camadas.png" alt="dresscode"/>
          <div class="o-page__item">T-shirt + Vestido</div>
        </div>
        <div class="u-relative u-mt-2x"  data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/fatotreino.png" alt="dresscode"/>
          <div class="o-page__item">Fato Treino</div>
        </div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/blazer.png" alt="dresscode" />
          <div class="o-page__item">Blazer Oversize</div>
        </div>
      </div>
    </div>
    <div class="o-grid__col u-colspan-12 o-mobile-mag__page-col">
      <div class="o-mobile-mag__page">
        <div class="c-title--pink o-page__title">Acessórios e Sapatos</div>
        <div class="u-relative" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/scrunchies.png" alt="dresscode"/>
          <div class="o-page__item">Scrunchies</div>
        </div>
        <div class="u-relative u-mt-2x" data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/chocker.png" alt="dresscode"/>
          <div class="o-page__item">Chockers</div>
        </div>
        <div class="u-relative u-mt-2x"  data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/plataformas.png" alt="dresscode"/>
          <div class="o-page__item">Plataformas</div>
        </div>
        <div class="u-relative u-mt-2x"  data-flout="justify-center--">
          <img src="{{ site.baseurl }}/assets/images/allstars.png" alt="dresscode"/>
          <div class="o-page__item">All Stars</div>
        </div>
      </div>
    </div>
  </div>

