<div class="o-section o-hero">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-8 u-relative">
        <audio 
      id="nav_audio"
      src="//soundyapp.s3.amazonaws.com/sounds/clips/000/001/365/original/vengaboys-boom-boom-boom-boom20180425-4-nc3vkc_copy.mp3?1524699321"
      ></audio>
        <img src="{{ site.baseurl }}/assets/images/hero-spice.png" alt="spice-girls" class="o-hero__image js-play-sound"/>
      </div>
      <div class="o-grid__col u-colspan-4" data-flout="col-- align-start-- justify-center--">
         <p class="c-title">Quinta do Hospício<br>13 Novembro, 17h</p>
    <p class="c-text">Mafalda faz 30 e óbvio que vai haver festa!<br>
Lanche e bolo de aniversário pelas 17h, seguindo para jantar pelas 20h30 e uma 90's party all night long! O Preço por pessoa é 15 euros e íncluí muita comida, bebida e festa da boa!</p>
        <p class="c-info--yellow">Confirma até dia 1 de Novembro!</p>
        
      </div>
    </div>
    
   
  </div>
</div>