<div class="o-section o-hero">
  <img src="{{ site.baseurl }}/assets/images/icon-1.svg" alt="spice-girls" class="c-icon c-icon--A"/>
  <img src="{{ site.baseurl }}/assets/images/icon-4.svg" alt="spice-girls" class="c-icon c-icon--B"/>
  <img src="{{ site.baseurl }}/assets/images/icon-3.svg" alt="spice-girls" class="c-icon c-icon--C"/>
  <img src="{{ site.baseurl }}/assets/images/icon-2.svg" alt="spice-girls" class="c-icon c-icon--D"/>
  <img src="{{ site.baseurl }}/assets/images/icon-7.svg" alt="spice-girls" class="c-icon c-icon--K"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-8@md u-relative" data-flout="justify-center--justify-start@md--">
        <audio loop volume="0" 
      id="hero-audio"
      src="https://blerp-content-audio-1144.storage.googleapis.com/mp3/66083ee0-3676-11ec-8fe3-f107dad287c3?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gke-prod%40blerp-cf7ae.iam.gserviceaccount.com%2F20211026%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211026T160456Z&X-Goog-Expires=518400&X-Goog-SignedHeaders=host&X-Goog-Signature=160373d62d7eef083dd2e55a30c6d6089aaeb22bc89cf5e3d72f94a6cf38d889d852659aafe9e64d1467a86852a18b3662c9b5782f0355277377b9be781ed0c8f3f24dbb50d5f38ea0e3f0e9c4fc0bc8a616fd1c935527ee61a1035dcf0dde002a512b14571f66b4e5b7df63649b221d4d6241b604c0a46c53a4a0458c887bc7b0f159e10873bfed67e903ac8b369533c60ef299534bda31838d5e093c6b0b14c1d5a2722fb2cfcafef183f893aa72af1e25a19a0766a9e07a19c3c82ca4518783faa844743535052165e82390b33ef2988ea3f49d8a4a5c8f0a4663ef7e35d47e14f70c1d1bd1e72e954ebd1d9e712c2b3cfd60de5bc65cdef876988980e31e"
      ></audio>
        <picture>
          <source media="(min-width: 650px)" srcset="{{ site.baseurl }}/assets/images/hero-spice.png">
          <img src="{{ site.baseurl }}/assets/images/hero-spice-mobile.png" alt="spice-girls" class="o-hero__image js-play-hero-audio"/>
        </picture>
      </div>
      <div class="o-grid__col u-colspan-12 u-colspan-4@md o-hero__info" data-flout="col-- align-start-- justify-center--">
         <p class="c-title">Quinta do Hospício<br>13 Novembro, 17h</p>
    <p class="c-text">Vem festejar os meus 30 anos nesta 90's party! A partir das 17h com lanchinho e bolo de aniversário, seguindo para jantar pelas 20h30 e terminando com uma party all night long! O preço por pessoa é 15 euros e inclui muita comida, bebida e festa da boa. Conto contigo!</p>
        <p class="c-info--yellow">Confirma até dia 1 de Novembro!</p>
        
      </div>
    </div>
    
   
  </div>
</div>