<div class="o-side-wrapper">
  <div class="o-side u-bg-color-blue" data-flout="align-center-- justify-center--">
    <img src="{{ site.baseurl }}/assets/images/vamos.png" class="c-image"/>
  </div>
  <div class="o-side u-bg-color-pink">
    <div>
      <h2 class="c-subtitle">Onde? Quando?</h2>
      <br>
      <p class="c-info">Quinta do Hospício<br>13 Novembro, 17h</p>
      <p>Confirmações até ida 1 de Novembro</p>
      <p>Preço: 15€</p>
      <p>A quinta fica na Lousã e tem estacionamento.</p>
      <a href="https://www.google.com/maps/d/u/0/viewer?mid=1hsCLMWG1hbCH6zrxykV9Na2mmokpHVnS&ll=40.10947838064135%2C-8.245796149999984&z=17">VER MAPA</a>
    </div>
    <div>
      <h2 class="c-subtitle u-bg-color-yellow">DressCode</h2>
      <br>
      <p class="c-info">90's Fashion</p>
    </div>
  </div>
</div>