<div class="o-section o-map">
  <img src="{{ site.baseurl }}/assets/images/icon-10.svg" alt="spice-girls" class="c-icon c-icon--E"/>
  <img src="{{ site.baseurl }}/assets/images/icon-8.svg" alt="spice-girls" class="c-icon c-icon--F"/>
  <img src="{{ site.baseurl }}/assets/images/icon-5.svg" alt="spice-girls" class="c-icon c-icon--G"/>
  <img src="{{ site.baseurl }}/assets/images/icon-6.svg" alt="spice-girls" class="c-icon c-icon--K"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-6@md" data-flout="justify-center--">
        <audio loop volume="0"
      id="map-audio"
      src="https://blerp-content-audio-1144.storage.googleapis.com/mp3/e1f2fbe0-3689-11ec-8fe3-f107dad287c3?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gke-prod%40blerp-cf7ae.iam.gserviceaccount.com%2F20211026%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211026T182358Z&X-Goog-Expires=518400&X-Goog-SignedHeaders=host&X-Goog-Signature=5188d858c6a1872910c01dfbcf8a12bec271bd9dc8036166716d65b2ac60b7688298535a1ba0eab55c801964a9bef997e89b1cf42d7c05f33aba8d15f8a12777812c4b46d7cca979d312edcc69c90c37bbb944a9a754e7ab57a87837035a2b1f4b84d2c28b1834043a1ec128972eb5bcd0cb4b64fdee717549c08df7a0c06dd955efc4981f58126399394aa39ed866d003c0e0d5e4ce6b9b5624ce4a2badff07eb66f7e26536aed42fc1cf3051c23a98c88fa85075d0f1a7d0404606e2e03e886d58ee394edd281c3a8dbb821da68001167d0bbe25380dd5692da948bb7ae30f56e55945942a9eebd17e664aded055899288eb9cfd51c560674b874b27b2b808"
      ></audio>
        <img src="{{ site.baseurl }}/assets/images/map-spice.png" alt="spice-girls" class="o-map__image js-play-map-audio"/>
      </div>
      <div class="o-grid__col u-colspan-12 u-colspan-6@md o-map__info" data-flout="col-- align-start-- justify-top--">
        <h2 class="c-title--pink ">COMO CHEGAR? ONDE ESTACIONAR?</h2>
        <p class="c-text">A Quinta do Hospício é na Rua Francisco Lopes Fernandes 8, 3200-065 Lousã.  Há estacionamento dentro da quinta, mas a entrada para o estacionamento não é a mesma que a entrada  principal (para quem vem a pé). Também há estacionamento numa rua perto. Para todos os detalhes sobre como chegar e onde estacionar, vejam o mapa.</p>
        <a href="https://www.google.com/maps/d/u/0/viewer?mid=1hsCLMWG1hbCH6zrxykV9Na2mmokpHVnS&ll=40.10947838064135%2C-8.245796149999984&z=17" target="_blank" class="c-link js-play-map-btn-audio">VER MAPA</a>
      </div>
    </div>
  </div>
</div>