<div class="o-section o-map">
	<div class="o-container">
		<div class="o-grid">
			<div class="o-grid__col u-colspan-6 c-image-wrap" data-flout="justify-center--">
		  	<img src="{{ site.baseurl }}/assets/images/map-spice.png" alt="spice-girls" class="o-map__image"/>
      </div>
    	<div class="o-grid__col u-colspan-6 u-mt-8x" data-flout="col-- align-start-- justify-top--">
		  	<h2 class="c-title--pink ">COMO CHEGAR? ONDE ESTACIONAR?</h2>
				<p class="c-text">A Quinta do Hospício é na Rua Francisco Lopes Fernandes 8, 3200-065 Lousã.  Há estacionamento dentro da quinta, mas a entrada para o estacionamento não é a mesma que a entrada  principal (para quem vem a pé). Também há estacionamento numa rua perto. Para todos os detalhes sobre como chegar e onde estacionar, vejam o mapa.</p>
		  	<a href="https://www.google.com/maps/d/u/0/viewer?mid=1hsCLMWG1hbCH6zrxykV9Na2mmokpHVnS&ll=40.10947838064135%2C-8.245796149999984&z=17" target="_blank" class="c-link">VER MAPA</a>
		  </div>
    </div>
	</div>
</div>