<div class="o-section o-map">
  <img src="{{ site.baseurl }}/assets/images/icon-10.svg" alt="spice-girls" class="c-icon c-icon--E"/>
  <img src="{{ site.baseurl }}/assets/images/icon-8.svg" alt="spice-girls" class="c-icon c-icon--F"/>
  <img src="{{ site.baseurl }}/assets/images/icon-5.svg" alt="spice-girls" class="c-icon c-icon--G"/>
  <img src="{{ site.baseurl }}/assets/images/icon-6.svg" alt="spice-girls" class="c-icon c-icon--K"/>
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__col u-colspan-12 u-colspan-6@md" data-flout="justify-center--">
        <audio loop volume="0"
      id="map-audio"
      src="https://blerp-content-audio-1144.storage.googleapis.com/mp3/02a68c80-366c-11ec-8fe3-f107dad287c3?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gke-prod%40blerp-cf7ae.iam.gserviceaccount.com%2F20211026%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20211026T145038Z&X-Goog-Expires=518400&X-Goog-SignedHeaders=host&X-Goog-Signature=0f3994291d74516b6e282531a9043ffa900734248fa6a173018913a5a2c064bcd95bb8c213c550d989dc78a0c0ae524fcf022e644683730a8303170709b45fa2b55ac09ea311038cc5b08b0b6024089df6502ac5a61d5df545a6e9dd506d5b7f9fa2130367a684b4a0e3fef15a309740073f2f5271e00eb772fe46e459e349a54bff565a9865a2fc8c3b6d90ad7b4fb31eb4da4816942fcd01ef6cdf719d9c439a49db879dcf451ea25ad1625726e859ba5f211049f30acfa03d539b675e5f1fb1aeea1d435861aa48ec542622414ef80ea0b7f4d72ab52d09c45e544b9923b913684a2ca16feb2d1e5d50aa1842b7efea0c899b6845c97f924777d7dae8c8a5"
      ></audio>
        <img src="{{ site.baseurl }}/assets/images/map-spice.png" alt="spice-girls" class="o-map__image js-play-map-audio"/>
      </div>
      <div class="o-grid__col u-colspan-12 u-colspan-6@md o-map__info" data-flout="col-- align-start-- justify-top--">
        <h2 class="c-title--pink ">COMO CHEGAR? ONDE ESTACIONAR?</h2>
        <p class="c-text">A Quinta do Hospício é na Rua Francisco Lopes Fernandes 8, 3200-065 Lousã.  Há estacionamento dentro da quinta, mas a entrada para o estacionamento não é a mesma que a entrada  principal (para quem vem a pé). Também há estacionamento numa rua perto. Para todos os detalhes sobre como chegar e onde estacionar, vejam o mapa.</p>
        <a href="https://www.google.com/maps/d/u/0/viewer?mid=1hsCLMWG1hbCH6zrxykV9Na2mmokpHVnS&ll=40.10947838064135%2C-8.245796149999984&z=17" target="_blank" class="c-link">VER MAPA</a>
      </div>
    </div>
  </div>
</div>